<div class="container">

  <div class="container">
    <div class="title">
      <h2>My booking</h2>
      <%#= link_to bookings_path do %>
      <%# end %>
    </div>


    <div class="booking-content">
      <div class="book-info">
        <h3><%#= @igloo.address %></h3>
        <div class="book-date">
          <h4>booked :</h4>
          <h4>from <%= @booking.check_in.strftime('%e %B %Y')%></h4>
          <h4>to <%= @booking.check_out.strftime('%e %B %Y')%></h4>
        </div>
      </div>
    </div>
    <div class="book-description">
      <li><%#= @igloo.description %></li>
    </div>
  </div>
</div>

