<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('https://res.cloudinary.com/aoataa/image/upload/v1597757982/37xsj0mp481uy9ejjymd1kzzicaj.jpg')">
  <div class="container">

    <p>Spend a night in an amazing igloo around the world.</p>
    <%= link_to "Looking for an igloo", "/igloos", class: "btn btn-igloo" %>
  </div>
</div>




