<div class="banner" style="background-image: url('https://res.cloudinary.com/aoataa/image/upload/v1597829234/igloo2_zmdwjv.jpg')">
  <div class="container">
    <h1><span id="banner-typed-text"></span></h1>
    <%= link_to "Looking for an igloo", "/igloos", class: "btn btn-igloo" %>
  </div>
</div>




