<div class="info-windows">
  <div class="photo-map" style="background-image: url('<%= cl_image_path igloo.photos.first.key %>')" ></div>
  <h2><%= igloo.name %></h2>
  <p><%= igloo.address %></p>

</div>
