<div class="titre">
  <h1>Make your booking</h1>
</div>
<div class="d-flex">
  <div class="cardsigloo">
    <% @igloos.each do |igloo| %>
      <div class="igloo-card">
        <div class="igloo-image">
          <%= link_to igloo_path(igloo) do %>
          <%= cl_image_tag igloo.photos.first.key %>
          <% end %>
        </div>
        <div class="igloo-name">
         <p><%= igloo.name %></p>
        </div>
      </div>
    <% end %>
  </div>
  <%= render 'shared/maps' %>
</div>


