<h1> Accueil/ Index </h1>

    <% @igloos.each do |igloo| %>
    <p><%= link_to igloo.name, igloo_path(igloo) %></p>
    <% end %>

<% if policy(Igloo).create? %>
  <%=link_to "Add new Igloo", new_igloo_path %>
<% end %>

