
  .notification {
    display: flex;
    align-items: center;
    margin: 30px;
    height: 350px;
    width: 900px;
    position: relative;
    margin-bottom: 8px;
    padding: 8px 16px;
    border: 1px solid rgba(80, 137, 145, 0.4);

    .card-trip-pricing {
      position: absolute;
      top: 20px;
      right: 15px;
    }
    .delete {
      position: absolute;
      bottom: 15px;
      right: 150px;

    }
    .update {
      position: absolute;
      bottom: 15px;
      right: 15px;

    }

    .nav-item {
    position: absolute;
      top: 20px;
      right: 95px;
    }
    h2 {
      color:#02245C;
    }
  }






