.navbar-lewagon {
  display: flex;
  justify-content: flex-end;
  background: white;
  text-align: center;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

.navbar-igloo {
  width: 50%;
  text-align: end;

}

.navbar-brand {
  margin-right: 0rem;
}

.logo {
  border-radius: 50px;
  border: 0.5px solid;
  border-color: white;
  position: absolute;
  right: 50%;
  box-shadow: 0 8px 6px -6px grey;
  box-shadow: 2px 4px 10px #347AB8;
}

.notice {
  margin-bottom: 0px;
}
