.navbar-lewagon {
  display: flex;
  justify-content: flex-end;
  background: white;
  text-align: center;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

.navbar-igloo {
  width: 50%;
  text-align: end;

}

.navbar-brand {
  margin-right: 0rem;
}

.logo {
  border-radius: 50px;
  border: 1px solid;
  border-color: black;
  position: absolute;
  right: 50%;
}
